
#Immagini
{
    width: 95%;
    margin: 0 auto;
}
             ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: #1f242d;

}
li{
    float: left;
}

li a {
  display: block;
  color: #dee9fc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover{
    color: #dee9fc ;

}
h1{text-align: center;}
@media screen and (max-width: 1920px)
{
    img{
        width: 100%;
        height: auto;
        float: left;
        padding: 10px;
    }
}


@media screen and (min-width: 1387)
{
    img{
        width: 100%;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 460px)
{
    img{
        width: 30%;
        padding-top: 10px;
        padding-bottom: 10px;
        float: bottom;
    }
}

